apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs
  labels:
    app: nodejs
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      containers:
        - name: devopshint
          image: 242519999893.dkr.ecr.us-east-1.amazonaws.com/hintdevops:1.1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
