apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp
  labels:
    app: nodeapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      containers:
        - name: devopshint
          image: 908198849120.dkr.ecr.ap-south-1.amazonaws.com/devopshint:1.1
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
